{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ block.super }} — {% trans 'List of accounts' %}{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <td>{%  trans 'Id' %}</td>
            <td>{% trans 'Title' %}</td>
            <td>{% trans 'Summary' %}</td>
            <td>{% trans 'Opened' %}</td>
            <td>{%  trans 'Closed' %}</td>
        </tr>
    </thead>
    <tbody>
        {% for account in account_list %}
        <tr>
            <td><a href="{% url 'account_details' account.id %}">{{ account.id }}</a></td>
            <td><a href="{% url 'account_details' account.id %}">{{ account.title }}</a></td>
            <td>{{ account.value }} {{ account.currency }}</td>
            <td>{{ account.opened }}</td>
            <td>{{ account.closed }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}