{% extends 'accountant/base.html' %}
{% load i18n %}
{% load humanize %}

{% block title %}{{ block.super }} — {% trans 'Details of account' %} {{ account.title }}{% endblock %}

{% block header %}{{ account.title }}{% endblock header %}

{% block menu_account_list %}
    <ul class="nav" role="menu" style="margin-left: 20px">
        {% for acc in account_list %}
        <li class="active"><a href="{% url 'accountant:account_detail' pk=acc.id %}">{{ acc.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock menu_account_list %}

{% block content %}
<table class="table">
{% for sheaf in account.sorted_sheaves %}
    <tr><td>{{ sheaf.amount | intcomma }} {{ sheaf.currency }}</td></tr>
{% endfor %}
</table>
<table class="table table-striped">
<caption>{% trans 'Last actions' %}</caption>
    <thead>
        <tr>
            <td>{% trans 'Time' %}</td>
            <td>{% trans 'Value' %}</td>
            <td>{% trans 'Comment' %}</td>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transaction_list %}
        <tr>
            <td>{{ transaction.date }}</td>
            <td style="text-align: right">{{ transaction.amount | intcomma }} {{ transaction.currency }}</td>
            <td>{% if transaction.comment %}{{ transaction.comment }}{% else %}{{ transaction.invoice.comment }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}