{% extends 'accountant/base.html' %}
{% load i18n %}
{% load humanize %}

{% block title %}{{ block.super }} — {% trans 'List of accounts' %}{% endblock %}

{% block header %}{% trans 'Account list' %}{% endblock header %}

{% block content %}
<form action="{% url 'accountant:recalculate' %}" method="get" style="float: right">
<input class="btn btn-default" type="submit" value="{% trans 'Recalculate' %}">
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <td>{% trans 'Id' %}</td>
            <td>{% trans 'Title' %}</td>
            <td>{% trans 'Summary' %}</td>
            <td>{% trans 'Opened' %}</td>
            <td>{% trans 'Closed' %}</td>
        </tr>
    </thead>
    <tbody>
        {% for account in account_list %}
        <tr>
            <td><a href="{% url 'accountant:account_detail' account.id %}">{{ account.id }}</a></td>
            <td><a href="{% url 'accountant:account_detail' account.id %}">{{ account.depth_dashes }}{{ account.title }}</a></td>
            <td>{% for sheave in account.sorted_sheaves %}
                {{ sheave.amount|intcomma }} {{ sheave.currency }}<br />
                {% endfor %}</td>
            <td>{{ account.opened }}</td>
            <td>{% if account.closed %}{{ account.closed }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}