{% extends 'accountant/base.html' %}
{% load i18n %}
{% load humanize %}

{% block title %}{{ block.super }} — {% trans 'Details of account' %} {{ account.title }}{% endblock %}

{% block header %}{{ account.title }}{% endblock header %}

{% block content %}
<table class="table">
{% for sheaf in account.sorted_sheaves %}
    <tr><td>{{ sheaf.amount | intcomma }} {{ sheaf.currency }}</td></tr>
{% endfor %}
</table>
<table class="table table-striped">
<caption>{% trans 'Last actions' %}</caption>
    <thead>
        <tr>
            <th>{% trans 'Time' %}</th>
            <th>{% trans 'Value' %}</th>
            <th>{% trans 'Category' %}</th>
            <th>{% trans 'Comment' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transaction_list %}
        <tr>
            <td>{{ transaction.date }}</td>
            <td style="text-align: right">{{ transaction.amount | intcomma }} {{ transaction.currency }}</td>
            <td>{% for counter_transaction in transaction.invoice.transactions.all %}
                {% if counter_transaction.account.type == transaction.account.EXPENSE %}{{ counter_transaction.account.title }}{% endif %}
                {% endfor %}</td>
            <td>{% if transaction.comment %}{{ transaction.comment }}{% else %}{{ transaction.invoice.comment }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}