{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ block.super }} — {% trans 'Accountant' %}{% endblock title %}

{% block menu %}
    <div class="list-group">
        <a href="{% url 'accountant:main' %}" class="list-group-item{% if menu_dashboard %} active{% endif %}">{% trans 'Dashboard' %}</a>
        <a href="#" type="button" class="list-group-item">{% trans 'Reports' %}</a>
        <a href="#" type="button" class="list-group-item">{% trans 'Settings' %}</a>
    </div>
{% endblock menu %}
