{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ block.super }} — {% trans 'Accounter' %}{% endblock %}

{% block content %}
<table class="table">
<caption>{% trans 'List of accounts' %}</caption>
<tr>
    <th>№</th>
    <th>{% trans 'Title' %}</th>
    <th>{% trans 'Summary' %}</th>
</tr>
{% for account in account_list %}<tr>
    <td>{{ account.id }}</td>
    <td>{{ account.title }}</td>
    <td>{% for sheaf in account.sheaves.all %}
        {{ sheaf.amount }} {{ sheaf.currency }}<br />
        {% endfor %}</td>
</tr>{% endfor %}
<tr class="total">
    <td colspan="2">{% trans 'Total' %}</td>
    <td>{% for item in total %}
        {{ item.amount }} {{ item.currency }}<br />
    {% endfor %}</td>
</tr>
</table>

{% endblock %}