{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ block.super }} — {% trans 'Accounter' %}{% endblock %}

{% block content %}
<table class="table">
<div class="page-header">
    <h1>{% trans 'List of accounts' %}</h1>
</div>
<tr>
    <th>№</th>
    <th>{% trans 'Title' %}</th>
    <th>{% trans 'Summary' %}</th>
</tr>
{% for account in account_list %}<tr>
    <td>{{ account.id }}</td>
    <td><a href="{% url 'accountant:account_details' pk=account.id %}">{{ account.title }}</a></td>
    <td>{% for sheaf in account.sorted_sheaves %}
        {{ sheaf.amount }} {{ sheaf.currency }}<br />
        {% endfor %}</td>
</tr>{% endfor %}
<tr class="total">
    <td colspan="2">{% trans 'Total' %}</td>
    <td>{% for item in total %}
        {{ item.amount }} {{ item.currency }}<br />
    {% endfor %}</td>
</tr>
</table>

{% endblock %}