{% extends 'accountant/base.html' %}
{% load i18n %}
{% load humanize %}

{% block header %}{% trans 'Accountant' %}{% endblock header %}

{% block content %}
<table class="table">
<tr>
    <th>{% trans 'Title' %}</th>
    <th>{% trans 'Summary' %}</th>
</tr>
{% for account in overview %}
<tr>
    <td>{{ account.account }}</td>
    <td>{% for item in account.report %}{{ item.amount|intcomma }} {{ item.currency }}<br />{% endfor %}</td>
</tr>
{% endfor %}
</table>

<table class="table">
<tr>
    <th>№</th>
    <th>{% trans 'Title' %}</th>
    <th>{% trans 'Summary' %}</th>
</tr>
{% for account in account_list %}<tr>
    <td>{{ account.id }}</td>
    <td><a href="{% url 'accountant:account_detail' pk=account.id %}">{{ account.title }}</a></td>
    <td>{% for sheaf in account.sorted_sheaves %}
        {{ sheaf.amount|intcomma }} {{ sheaf.currency }}<br />
        {% endfor %}</td>
</tr>{% endfor %}
<tr class="total">
    <td colspan="2">{% trans 'Total' %}</td>
    <td>{% for item in total %}
        {{ item.amount|intcomma }} {{ item.currency }}<br />
    {% endfor %}</td>
</tr>
</table>

{% endblock content %}