{% extends 'accountant/base.html' %}
{% load i18n %}
{% load humanize %}

{% block title %}{{ block.super }} — {% trans 'List of invices' %}{% endblock %}

{% block header %}{% trans 'Invoice list' %}{% endblock header %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <td>{% trans 'Date' %}</td>
            <td>{% trans 'User' %}</td>
            <td>{% trans 'Comment' %}</td>
            <td>{% trans 'Incomes' %}</td>
            <td>{% trans 'Accounts' %}</td>
            <td>{% trans 'Expences' %}</td>
            <td>{% trans 'P&L' %}</td>
        </tr>
    </thead>
    <tbody>
        {% for invoice in invoice_list %}
        <tr>
            <td>{{ invoice.timestamp }}</td>
            <td>{{ invoice.user }}</td>
            <td>{{ invoice.comment }}</td>
            <td>{% for income in invoice.incomes %}
                    <a href="{% url 'accountant:account_detail' income.id %}">{{ income.title }}</a>
                {% endfor %}</td>
            <td>{% for account in invoice.accounts %}
                    <a href="{% url 'accountant:account_detail' account.id %}">{{ account.title }}</a>
                {% endfor %}</td>
            <td>{% for expense in invoice.expenses %}
                    <a href="{% url 'accountant:account_detail' expense.id %}">{{ expense.title }}</a>
                {% endfor %}</td>
            <td>{% for item in invoice.pnl %}{{ item.amount }} {{ item.currency }}{% endfor %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}