{% extends 'accountant/base.html' %}
{% load i18n %}
{% load l10n %}
{% load humanize %}

{% block title %}{{ block.super }} — {% trans 'Add invoice' %}{% endblock %}

{% block header_large %}{% trans 'Add new invoice' %}{% endblock %}

{% block x_content %}
<div class="col-md-9 col-sm-9 col-xs-12">
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <section class="panel">
    <div class="x_title"><h2>{% trans 'General info' %}</h2><div class="clearfix"></div></div>
    <div class="panel-body form-horizontal form-label-left">
      <div class="row">
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="invoice-timestamp">{% trans 'Date and time' %}</label>
          <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" id="invoice-timestamp" name="invoice-timestamp" required="required" class="form-control col-md-7 col-xs-12" value="{% if invoice %}{{ invoice.timestamp | date:'Y-m-d H:i:s' }}{% endif %}"></div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="invoice-comment">{% trans 'Comment' %}</label>
          <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" id="invoice-comment" name="invoice-comment" class="form-control col-md-7 col-xs-12" value="{% if invoice %}{{ invoice.comment }}{% endif %}"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="panel">
    <div class="x_title"><h2>{% trans 'Transactions' %}</h2><div class="clearfix"></div></div>
    <div class="panel-body">
      {% for transaction in transactions %}
      <div class="row form-horizontal transaction">
        <input type="hidden" name="transaction-id" value="{{ transaction.id }}">
        <div class="col-md-2 col-sm-4 form-group has-feedback">
          <input type="text" class="form-control has-feedback-left" name="date" pattern="\d{4}-\d{2}-\d{2}" value="{{ transaction.date | date:'Y-m-d' }}">
          <span class="fa fa-calendar form-control-feedback left"></span>
        </div>
        <div class="col-md-2 col-sm-4"><input type="number" step="any" lang="en-150" class="form-control" name="amount" placeholder="{% trans 'amount' %}" value="{{ transaction.amount | unlocalize }}"></div>
        <div class="col-md-1 col-sm-4"><input type="text" class="form-control" name="currency" placeholder="{% trans 'currency' %}" value="{{ transaction.currency }}"></div>
        <div class="col-md-1"><input type="number" step="any" lang="en-150" class="form-control" name="quantity" placeholder="{% trans 'quantity' %}" value="{{ transaction.quantity }}"></div>
        <div class="col-md-1">
          <select class="select2_group form-control" name="unit">{% for unit in quantity_units %}
            <option value="{{ unit.0 }}"{% if transaction.unit == unit.0 %} selected="selected"{% endif %}>{{ unit.0 }}</option>{% endfor %}
          </select>
        </div>
        <div class="col-md-1"><input type="number" step="any" lang="en-150" class="form-control" name="price" placeholder="{% trans 'price' %}" value="{{ transaction.price }}"></div>
        <div class="col-md-2 col-sm-12"><input type="text" class="form-control" name="comment" placeholder="{% trans 'comment' %}" value="{{ transaction.comment }}"></div>
        <div class="col-md-2 col-sm-12">
          <select class="select2_group form-control" name="account">{% for account in accounts %}
            <option value="{{ account.id }}"{% if account.id == transaction.account_id %} selected="selected"{% endif %}>{{ account.depth_nbsp }}{{ account.title }}</option>{% endfor %}
          </select>
        </div>
      </div>
      {% endfor %}
      <div class="row form-horizontal transaction">
        <input type="hidden" name="transaction-id" value="">
        <div class="col-md-2 col-sm-4 form-group has-feedback">
          <input type="text" class="form-control has-feedback-left" name="date" pattern="\d{4}-\d{2}-\d{2}">
          <span class="fa fa-calendar form-control-feedback left"></span>
        </div>
        <div class="col-md-2 col-sm-4"><input type="number" step="any" lang="en-150" class="form-control" name="amount" placeholder="{% trans 'amount' %}"></div>
        <div class="col-md-1 col-sm-4"><input type="text" class="form-control" name="currency" placeholder="{% trans 'currency' %}" value="{{ base_currency }}"></div>
        <div class="col-md-1"><input type="number" step="any" lang="en-150" class="form-control" name="quantity" placeholder="{% trans 'quantity' %}" value="{{ transaction.quantity }}"></div>
        <div class="col-md-1">
          <select class="select2_group form-control" name="unit">{% for unit in quantity_units %}
            <option value="{{ unit.0 }}">{{ unit.0 }}</option>{% endfor %}
          </select>
        </div>
        <div class="col-md-1"><input type="number" step="any" lang="en-150" class="form-control" name="price" placeholder="{% trans 'price' %}"></div>
        <div class="col-md-2 col-sm-12"><input type="text" class="form-control" name="comment" placeholder="{% trans 'comment' %}"></div>
        <div class="col-md-2 col-sm-12">
          <select class="select2_group form-control" name="account">{% for account in accounts %}
            <option value="{{ account.id }}">{{ account.depth_nbsp }}{{ account.title }}</option>{% endfor %}
          </select>
        </div>
      </div>
    </div>
  </section>
    <input class="btn btn-default" type="submit" value="{% trans 'Save' %}">
  </form>
</div>
{% endblock x_content %}

{% block inline-js %}
<script language="JavaScript">
  function getField(row, fieldName) {
    return row.find('[name=' + fieldName + ']');
  }

  function priceUpdated() {
    var row = jQuery(this).parent().parent();
    var amount = getField(row, 'amount');
    var quantity = getField(row, 'quantity');
    var price = getField(row, 'price');

    if (quantity.val()) {
      amount.val(quantity.val() * price.val());
      amount.change();
    } else if (amount.val()) {
      quantity.val(amount.val() / price.val());
    }
  }

  function amountUpdated() {
    var row = jQuery(this).parent().parent();
    var amount = getField(row, 'amount');
    var quantity = getField(row, 'quantity');
    var price = getField(row, 'price');

    if (quantity.val()) {
      price.val(amount.val() / quantity.val());
    } else if (price.val()) {
      quantity.val(amount.val() / price.val());
    }
  }

  function quantityUpdated() {
    var row = jQuery(this).parent().parent();
    var amount = getField(row, 'amount');
    var quantity = getField(row, 'quantity');
    var price = getField(row, 'price');

    if (amount.val()) {
      price.val(amount.val() / quantity.val());
    } else if (price.val()) {
      amount.val(quantity.val() * price.val());
      amount.change();
    }
  }

  function addTransaction() {
    var lastTransaction = jQuery('.transaction:last');
    var newTransaction = lastTransaction.clone(true);

    lastTransaction
      .on('change', '[name=amount]', amountUpdated)
      .on('change', '[name=price]', priceUpdated)
      .on('change', '[name=quantity]', quantityUpdated);
    if (lastTransaction.find('[name=date]').val() === '') {
      lastTransaction.find('[name=date]').val(moment(jQuery('#invoice-timestamp').val()).format('YYYY-MM-DD'))
    }

    if (lastTransaction.find('[name=currency]').val() === '') {
      lastTransaction.find('[name=currency]').val('{{ base_currency }}')
    }

    newTransaction.find('input').val('');
    newTransaction.insertAfter(lastTransaction);
  }

  jQuery('.transaction')
    .on('change', '[name=amount]', amountUpdated)
    .on('change', '[name=price]', priceUpdated)
    .on('change', '[name=quantity]', quantityUpdated);
  jQuery('.transaction:last').on('change', '[name=amount]', addTransaction);

  var invoiceTimestamp = jQuery('#invoice-timestamp');
  if (invoiceTimestamp.val() === '') {
    invoiceTimestamp.val(moment().format('YYYY-MM-DD HH:mm'))
  }
</script>
{% endblock %}
