{% extends 'accountant/base.html' %}
{% load i18n %}
{% load humanize %}

{% block title %}{{ block.super }} — {% trans 'Details of invoice' %}{% endblock %}

{% block header_large %}{% if invoice.comment %}{{ invoice.comment }}{% else %}{{ invoice }}{% endif %}{% endblock %}
{% block header_small %}{% trans 'invoice details' %}{% endblock %}
{% block title_right %}<a href="{% url 'accountant:invoice_edit' pk=invoice.id %}" class="btn btn-default">{% trans 'Edit' %}</a>{% endblock %}

{% block x_content %}
<div class="col-md-9 col-sm-9 col-xs-12">
  <section class="panel">
    <div class="x_title"><h2>{% trans 'Transactions' %}</h2><div class="clearfix"></div></div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans 'Date' %}</th>
            <th>{% trans 'Account' %}</th>
            <th>{% trans 'Value' %}</th>
            <th>{% trans 'Comment' %}</th>
          </tr>
        </thead>
        <tbody>
        {% if invoice.income_transactions %}<tr><th colspan="4">{% trans 'Incomes' %}</th></tr>{% endif %}
        {% for transaction in invoice.income_transactions %}
          <tr>
            <td>{{ transaction.date|date:'Y-m-d' }}</td>
            <td><a href="{% url 'accountant:account_detail' transaction.account.id %}">{{ transaction.account.title }}</a></td>
            <td>{{ transaction.amount | intcomma }} {{ transaction.currency }}</td>
            <td>{{ transaction.comment }}</td>
          </tr>
        {% endfor %}
        {% if invoice.internal_transactions %}<tr><th colspan="4">{% trans 'Accounts' %}</th></tr>{% endif %}
        {% for transaction in invoice.internal_transactions %}
          <tr>
            <td>{{ transaction.date|date:'Y-m-d' }}</td>
            <td><a href="{% url 'accountant:account_detail' transaction.account.id %}">{{ transaction.account.title }}</a></td>
            <td>{{ transaction.amount | intcomma }} {{ transaction.currency }}</td>
            <td>{{ transaction.comment }}</td>
          </tr>
        {% endfor %}
        {% if invoice.expense_transactions %}<tr><th colspan="4">{% trans 'Expenses' %}</th></tr>{% endif %}
        {% for transaction in invoice.expense_transactions %}
          <tr>
            <td>{{ transaction.date|date:'Y-m-d' }}</td>
            <td><a href="{% url 'accountant:account_detail' transaction.account.id %}">{{ transaction.account.title }}</a></td>
            <td>{{ transaction.amount | intcomma }} {{ transaction.currency }}</td>
            <td>{{ transaction.comment }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</div>
<div class="col-md-3 col-sm-3 col-xs-12">
  <section class="panel">
    <div class="x_title"><h2>{% trans 'Info' %}</h2><div class="clearfix"></div></div>
    <div class="panel-body">
      <table class="table">
        <tr><td>{% trans 'Date and time' %}</td><td>{{ invoice.timestamp }}</td></tr>
        <tr><td>{% trans 'User' %}</td><td>{% if invoice.user %}{{ invoice.user }}{% else %}—{% endif %}</td></tr>
        <tr><td>{% trans 'P&L' %}</td><td>{% if invoice.pnl %}{% for item in invoice.pnl %}{{ item.amount }} {{ item.currency }}{% endfor %}{% else %}—{% endif %}</td></tr>
      </table>
    </div>
  </section>
  <section class="panel">
    <div class="x_title"><h2>{% trans 'Attached documents' %}</h2><div class="clearfix"></div></div>
    <div class="panel-body">
      {% if invoice.documents.all %}<ul class="unstyled">{% for document in invoice.documents.all %}
        <li><a href="{{ document.file.url }}"><span class="fa {% if document.mime_type == 'image/jpeg' %}fa-file-image-o{% elif document.mime_type == 'application/pdf' %}fa-file-pdf-o{% else %}fa-file-o{% endif %}"></span> {% if document.description %}{{ document.description }}{% else %}{{ document.file_name }}{% endif %}</a></li>
      {% endfor %}</ul>{% else %}{% trans 'No documents attached' %}{% endif %}
    </div>
  </section>
    <section class="panel">
        <div class="x_title"><h2>{% trans 'Uncounted values' %}</h2><div class="clearfix"></div></div>
        <div class="panel-body">
          <table class="table">
            <tbody>{% if invoice.is_verified %}
            <tr><td>{% trans "The invoice contains no unattended transactions"  %}</td></tr>
            {% else %}
            {% for item in invoice.verify %}
              <tr>
                <td width="10%">{{ item.currency }}</td><td>{{ item.amount | intcomma }}</td>
              </tr>{% endfor %}{% endif %}
            </tbody>
          </table>
        </div>
      </section>
</div>
{% endblock %}